.example-card {
  max-width: 400px;
}
.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-available {
  margin-left: 5%;
}

.grid-container {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for screens larger than 600px */
  }
}

@media (min-width: 1050px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns for screens larger than 1050px */
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.search-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 8px;
}
.button-group {
  display: flex;
  gap: 8px;
}

/* styles.css or your custom CSS file */
.bg-custom-blue {
  background-color: #1e2a5a;
}
.star-icon {
  color: #ccc; /* Set the default color for the stars */
  cursor: pointer;
  font-size: 24px;
}

.star-icon.filled {
  color: goldenrod; /* Set the color for filled stars */
}
.error-message{
  color: red;
}
.custom-input {
  width: 100%; /* Set the desired width */
}
.side-nav{
  width: 30%; /* Set the desired width */
}
.grid{
  margin-top: 14%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  min-height: 82vh;
}

footer {
  background-color: #2b6cb0;
  color: #ccc;
  padding: 1rem;
  text-align: center;
}
.flex{
  margin-right: 3%;
}
.mat-button-toggle {
  font-size: 16px;
  color: #1e2a5a/* Adjust the font size as needed */
}
.add-button{
  margin-left: 5%;
  margin-top: 1%;
}
.language-button{
  color: white;
}
.text-white{
  margin-left: 7%;
  margin-top: 1%;
  font-family: Georgia, serif;
  font-size: 30px;
}
.toggle-group{
  margin-right: 7%;
}




